<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>访客来源统计表</title>
    <script src="../../js/echarts.js"></script>
    <script src="../../js/jquery-3.6.0.min.js"></script>
</head>
<body>
<div id="main" style="width: 800px;height:600px;"></div>
<script>
    // 1.基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    // 2.指定图表的配置项和数据
    var option = {
        title: {
            text: '访客来源统计图表'
        },
        tooltip: {},
        legend: {
            data: ['访客数量']
        },
        toolbox: {
            show: true,
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                dataView: { readOnly: false },
                magicType: { type: ['line', 'bar'] },
                restore: {},
                saveAsImage: {}
            }
        },
        xAxis: {//x轴
            data: []
        },
        yAxis: {},
        series: [
            {
                name: '访客数量',
                type: 'bar',
                data: []
            }
        ]
    };
    //3.使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    //ajax 请求接口
    $.get("/api/visitor/selectTj.do",function(res){
        if(res.code==200){

            option.xAxis.data[0]=res.data[0].addr;
            option.xAxis.data[1]=res.data[1].addr;
            option.xAxis.data[2]=res.data[2].addr;


            option.series[0].data[0]=res.data[0].num;
            option.series[0].data[1]=res.data[1].num;
            option.series[0].data[2]=res.data[2].num;

        }
        myChart.setOption(option)


    })
</script>
</body>
</html>