<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.epidemic.dao.AdminNoticeDao">
    <resultMap id="BaseResult" type="com.example.epidemic.entity.AdminNotice">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="ctime" property="ctime"></result>
        <result column="aname" property="aname"></result>
        <result column="flag" property="flag"></result>
    </resultMap>

    <insert id="add" useGeneratedKeys="true" keyProperty="id" parameterType="AdminNotice">
        insert into a_adminnotice(title, content, ctime, aname, flag)
        values (#{title},#{content},#{ctime},#{aname},#{flag})
    </insert>

    <insert id="addBatch" keyProperty="id" useGeneratedKeys="true">
        insert into a_adminnotice(title, content, ctime, aname, flag)
        VALUES
        <foreach collection="list" item="adminNotice" separator=",">
            (#{title},#{content},#{ctime},#{aname},#{flag})
        </foreach>
    </insert>

    <delete id="del">
        delete from a_adminnotice
        where id = #{id}
    </delete>


    <delete id="delBatch">
        delete from a_adminnotice where id in(
        <foreach collection="ids" item="id" separator=",">
            #{id}
        </foreach>
            )
    </delete>

    <update id="update">
        update a_adminnotice
        <set>
            <if test="id != null" >id = #{id},</if>
            <if test="title != null  and title != ''" >title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="ctime != null ">ctime = #{ctime},</if>
            <if test="aname != null and aname != ''">aname = #{aname},</if>
            <if test="flag != null">flag = #{flag},</if>
        </set>
        where id = #{id}
    </update>


    <select id="selectById" resultMap="BaseResult">
        select * from a_adminnotice
        <where>
            <if test="title != null and title !=''">and title like #{title}</if>
        </where>
    </select>
</mapper>